
/* ---------- Go to top button ---------- */

.scrollup {
  position: fixed;
  bottom: 150px;
  right: 50px;
  padding: 5px 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;

  &:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.15);
  }

  @include media-query($on-palm) {
    right: 10px;
    bottom: 10px;
  }
}



/* ---------- Navbar shrink on scroll ---------- */

.shrink {
  font-size: $base-fs * 0.8;
  min-height: 30px;

  .navbar-brand {
    font-size: 1.25rem;
  }

  .logo {
    height: 28px;
    width: 28px;
  }
}



/* ---------- Used for animation by viewport checker ---------- */

.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
.meta {
    color: $grey-color;
}

.hide {
    display: none;
}

.rev {
    visibility: hidden;
}


/* Hide element until the user scrolls till bottom */
.disqus-placeholder.is-hidden {
    display: none;
}

