
.share-box {
    
    margin: 1.5em 0;
   
    a {
        color: $grey-color;
        border-radius: 50%;
        text-decoration: none;
        margin-left: 1em;
         &:hover {
            text-decoration: none;
            color: black;
        }
    }

}