
.scrollspy-example {
    position: relative;
    height: 100vh;
    margin-top: inherit;
    overflow: auto;
}

.bd-toc {
    position: sticky;
    top:4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    padding: 15px 30px 15px 0;   
    
    &.navbar-collapse { align-items: flex-start; }
}

.section-nav {
    padding: 0;
    border-left: 1px solid #eee;
    ul {
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }
    ul, li { margin-bottom: 0; }
}

.toc-entry {
    display: block;
    > a {
        display: block;
        padding: .1rem 1rem;
        color: #99979c;
        font-size: 14px;
        line-height: 1.75em;
        &:hover{
            color: $brand-color;
            text-decoration: none;
        }
    }
    
    /* bootstrap element for scrollspy */
    .list-group-item {
        z-index: 2;
        color: inherit;
        background-color: inherit;
        border: inherit;
        
        &.active { 
            color: $brand-color; 
            font-weight: 600;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .bd-toc { 
        width: 250px;
        position: fixed;
        top: $navbar-height;
        right: 0;
        height: calc(100vh - #{$navbar-height});
        padding-left: 0;
        background: #fff; /* lighten($brand-color, 20%); */
        /* color: $brand-color; */
        border-left: 1px solid $brand-color;
        z-index: 999;
    }
    
    .overlay {
        position: fixed;
        top:0;
        left: 0;
        width: calc(100vw - 250px);
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
    }
    
    
    .section-nav { border: none; }
}


