



.post-wrapper {
    background-color: #f7f7f7;    
}

.col-max-820 { 
    max-width: 820px; 
    background-color: #fff;
    padding: 20px 55px;
} 

@media (max-width: $screen-sm-max) {
    .col-max-820 { padding: 20px 20px; }
}



/* ---------- title ---------- */

.post-title {
    color: $brand-color;
    font-weight: 600;
    font-size: 3em;
}

.post-subtitle {
    margin-top: -1.5em;
    margin-bottom: 3.5em;
}



/* ---------- bottom of page  ---------- */

.tags {
    
    margin: 1.5em 0;
    span {
        a {
            line-height: 22px;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.05);
            
            font-size: $small-fs;
            color: rgba(0, 0, 0, 0.6);
           
            &:hover {
                background-color: rgba(0, 0, 0, 0.10);
            }
        }
    }
}

.share-box {
    
    margin: 1.5em 0;
   
    a {
        color: $grey-color;
        border-radius: 50%;
        text-decoration: none;
        margin-left: 1em;
         &:hover {
            text-decoration: none;
            color: black;
        }
    }
}

.recent {
    
    margin: 2em -15px 0 -15px;
    padding: 20px 0 4em 0;
    background-color: rgba(0, 0, 0, 0.02);
    
    p {
        line-height: 1.5;
        font-size: 16px;
        text-align: center;
        margin: 1rem 0;
    }
}

/*
.header-image {
    height: 80vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

/*
.disqus {
    margin: 2em 0;
}
*/