
.breadcrumbs { 
    list-style: none; 
    overflow: hidden; 
    font-size: $small-fs;
    padding: 0;
    margin: 1em 0 0.5em 0;
    @include media-query($on-palm) {
        font-size: $small-fs * 0.85;
    }
    
    li {
        
        float: left; 
      
        /* progressively lighter breadcrumbs */
        &:nth-child(1) a { padding-left: 10px; }
        &:nth-child(2) a { 
            background: lighten($brand-color, 10%);
            &:after { border-left-color: lighten($brand-color, 10%) }
        }
        &:nth-child(3) a { 
            background: lighten($brand-color, 20%);
            &:after { border-left-color: lighten($brand-color, 20%) }
        }
        &:nth-child(4) a { 
            background: lighten($brand-color, 30%);
            &:after { border-left-color: lighten($brand-color, 30%) }
        }
        &:nth-child(5) a {
            background: lighten($brand-color, 40%);
            &:after { border-left-color: lighten($brand-color, 40%) }
        }
        
        /* shape */
        a {
            
            color: white;
            text-decoration: none; 
            padding: 0px 0 0px 45px;
            background: $brand-color; 
            position: relative; 
            display: block;
            float: left;
            @include media-query($on-palm) {
                padding: 0px 0 0px 30px;
            }
           
            &:before, &:after {
                content: " "; 
                display: block; 
                position: absolute;
                width: 0; 
                height: 0;
                top: 50%;
                margin-top: -50px; 
                left: 100%;
            }
            
            &:before {
                z-index: 1; 
                margin-left: 2px;
            }
            
            &:after { 
                z-index: 2;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid $brand-color;
                @include media-query($on-palm) {
                    border-left: 20px solid $brand-color;
                }
            }
            
            &:hover { 
                background: darken($brand-color, 10%); 
                &:after { border-left-color: darken($brand-color, 10%) !important; }
            }
            
        }
    
    }
}


.breadcrumbs li:last-child a {
/*   background: transparent !important; */
  /* color: black; */
  pointer-events: none;
  cursor: default;
}

