
/* ---------- site overview ---------- */

/* scroll to anchor links*/
html { scroll-behavior: smooth; }

/* handle fixed navbar height for anchor links - http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
:target { 
    border-top: $navbar-height-padding solid transparent;
    margin-top: - $navbar-height-padding;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}


/* ---------- containers ---------- */

body {
    background: #fefefe;
    height: 100%;
	overflow-x: hidden;
}


/* wraps the entire page  min-height accounts for fixed navbar height to not scroll needlessly on empty pages */
.wrapper {
    display: block;
    position: relative;
    min-height: calc(100vh - #{$navbar-height});
    background: #fff;
    
    /*
    @include media-query($on-laptop) {
        margin: 0;
    }
    
    > .container {
        @include media-query($on-laptop) {
            padding: 0;
        }
    }
    */
    
    /* footer height */
    padding-bottom: 200px;
}


/* navbar height (fixed to top) */
.navbar {
    .navbar-nav .nav-link, .navbar-brand, .navbar-toggler {
        height: $navbar-height;
    }
}


/* only wraps the content (betwwen navbar and footer) */
.content-wrapper {
    margin-top: $navbar-height;
}


/* for pages that are not blog posts - add space between navbar and page layout to make it breathe */
.page {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (max-width: $screen-xs-max) {
    .page {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}


/* footer requires a fixed height to show at the bottom of the page */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}   


    
/* ---------- other standard elements ---------- */

a {
    color: $brand-color;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    
    .nostyle { color: $brand-color; }
}

img {  max-width: 100%; }




