
.navbar {
    
    /* overall setup */
    background-color: $brand-color;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    border: none;
    
    /* text */
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    padding-top: 0; 
    padding-bottom: 0;
    margin-bottom: 20px;
    
    /* elements - generic setup */
    .navbar-nav .nav-link, .navbar-brand, .navbar-toggler {
        height: $navbar-height;
        color: #fff;
        line-height: 20px;
        &:hover { 
            color: #fff;
            background-color: $brand-color-dark; 
        }
    }
    
    /* element-specific setup */
    .navbar-brand {
        padding: 16px 15px !important;
        font-weight: 600;
        font-size: 18px; 
    }

    .navbar-nav a {
        padding: 17px 15px !important;
        font-size: 14px;
    }
    
    /* remove outline from toggler */
    .navbar-toggler {
        border: none;
        border-radius: 0;
        &:focus { outline: none; }
    }
    
    @media (max-width: $screen-xs-max) {
        /* move the collapse button closer to the edge on mobile */
        .navbar { padding-right: 5px; }
	}

}
