<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Prefetch DNS for faster page speed -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="dns-prefetch" href="//google-analytics.com">
	<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	
    <!-- Google Analytics code. <head> tag is the right place for analytics code as directed by Google. 
        This is unofficial light version which loads blazing fast! Implemented for faster page load.  -->
    {% if site.analytics %}
        {% include analytics-lite.html %}
    {% endif %}

    {% seo %}
    
    <!-- Prefetch disqus DNS for faster page speed 
	{% if page.url contains 'blog' %}
        <link rel="dns-prefetch" href="https://{{site.disqus}}.disqus.com/">
	{% endif %}
    -->
    
    <!-- Prerender next pages for faster page speed -->
	{% if page.url == '/' %}
        <link rel="prerender" href="/contact/" />
        <link rel="prerender" href="/about/" />
        <link rel="prerender" href="/blog/" />
	{% endif %}
    
    <!-- 
	{% if page.layout != 'post' %}
        <meta property="og:image" content="{{site.url}}{{site.default-image}}" />
	{% endif %}
    -->
    
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- Fontawesome Icons CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Replace these icons with your own. 
	<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/apple-icon-152x152.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/img/android-icon-192x192.png">
	<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    -->
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    
    {% if site.enable-mathjax %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
              }
            });
        </script>
        <script async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
        </script>
    {% endif %}
    
</head>

<body>

	<div id="top" class="wrapper">

		{% include site_navbar.html %}
        
		<div class="content-wrapper">
			{{content}}
		</div>

		{% include site_footer.html %}
        
	</div>

</body>   
  
</html>