---
layout: default
---
<!--
<header class="position-relative text-center d-flex justify-content-center">
    <div class="header-image" style="background-image: url({{page.image}})"></div>
    <h1 class="post-title">{{page.title}}</h1>
</header>
-->

<div class="container-fluid">

    <div class="row flex-xl-nowrap justify-content-around">
        
        <div class="d-none d-lg-block col-md-1"></div>
        
        <div class="col-md-8 col-lg-6 col-max-820">
              
            <div class="post-title">{{page.title}}</div>
            
            <div class="post-subtitle">
                <p><small>
                    <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{page.date | date_to_string }}&nbsp;
                    </span>
                    <span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {% include post_reading-time.html %}
                    </span>
                </small></p>
            </div>
         
            <article>
                {{content}}
            </article>
            
            {% if page.categories %}
                {% include post_categories.html categories=page.categories %}
            {% endif %}
            
            {% if site.share %}
                {% include post_share-buttons.html %}
            {% endif %}

            {% if site.disqus %}
                {% include post_disqus.html %}
            {% endif %}

        </div>
        
        <div class="d-none d-md-block col-md-2 bd-toc">
            {% include post_toc.html html=content class="section-nav" subclass="toc-entry.toc-h2"%}
        </div>
        
    </div>
    
    <div class="row recent justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% include post_recent.html %}
        </div>
    </div>
</div>

