---
layout: default
---
<!--
<header class="position-relative text-center d-flex justify-content-center">
    <div class="header-image" style="background-image: url({{page.image}})"></div>
    <h1 class="post-title">{{page.title}}</h1>
</header>
-->

<div class="post-wrapper container-fluid">

    <div class="row d-flex justify-content-between">
        
        <div class="d-none d-md-block col-md-2"></div>
        
        <div class="col-md-8 col-max-820">
            
            <div class='post-head'>
                <h1 class="post-title">{{page.title}}</h1>
                
                <div class="post-subtitle">
                    <p><small>
                        <span>
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{page.date | date_to_string }}&nbsp;
                        </span>
                        <span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {% include post_reading-time.html %}
                        </span>
                    </small></p>
                </div>
            </div>
            
            <article>
                {{content}}
            </article>
            
            {% if page.categories %}
                {% include post_categories.html categories=page.categories %}
            {% endif %}
            
            {% if site.share %}
                {% include post_share-buttons.html %}
            {% endif %}

            {% if site.disqus %}
                {% include post_disqus.html %}
            {% endif %}

        </div>
      
        <div class="col-md-2 navbar-expand-sm">
            <div class="collapse navbar-collapse bd-toc" id="navbarNavAltMarkup">
                <div id='toc' class="list-group">
                    {% include post_toc.html html=content class="section-nav" subclass="toc-entry" aclass="list-group-item.list-group-item-action"%}
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="row recent justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% include post_recent.html %}
        </div>
    </div>
    -->
</div>

