---
layout: default
---
<!--
<header class="position-relative text-center d-flex justify-content-center">
    <div class="header-image" style="background-image: url({{page.image}})"></div>
    <h1 class="post-title">{{page.title}}</h1>
</header>
-->

<div class="post-wrapper container-fluid">

    <div class="row d-flex justify-content-between">
        
        <div class="d-none d-lg-block col-lg-2"></div>
        
        <div class="col-lg-8 col-max-820">
            
            <div class='post-head'>
                <h1 class="post-title">{{page.title}}</h1>
                
                <div class="post-subtitle">
                    <p><small>
                        <span>
                            &nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> {% include post_reading-time.html %}
                        </span>
                    </small></p>
                </div>
            </div>
            
            <article>
                {{content}}
            </article>
            
            {% if page.categories %}
                {% include post_categories.html categories=page.categories %}
            {% endif %}
            
            {% if site.share %}
                {% include post_share-buttons.html %}
            {% endif %}

            {% if site.disqus %}
                {% include post_disqus.html %}
            {% endif %}

        </div>

        <div class="toc-wrapper col-lg-2 navbar-expand-lg">
            <div class="collapse navbar-collapse bd-toc" id="navbarNavAltMarkup">
                
                <div id='toc' class="list-group">
                
                    {% for article in site.data_science_101 %}
                        {% include post_toc.html   
                            html=content 
                            title=article.title
                            titlelink=article.url
                            titleclass="article-part"
                            current_url=page.url
                            class="section-nav" 
                            subclass="toc-entry"
                            aclass="list-group-item.list-group-item-action"
                        %}
                    {% endfor %}
                
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="row recent justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% include post_recent.html %}
        </div>
    </div>
    -->
</div>

